@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Comfortaa|Istok+Web|Droid+Sans+Mono);
@import url(960_12_col.css);
body {
  font: normal 15px/1.6em "Istok Web", Helvetica, Arial, FreeSans, sans-serif;
  color: white;
  background-color: black;
}

a {
  text-decoration: none;
  color: #ff7f2a;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comfortaa", sans-serif;
  color: #ff7f2a;
  margin: 0 0 0.8em 0;
  font-weight: normal;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

p {
  margin: 0 0 1em 0;
}

.code {
  font: 0.9em/1.5em "Droid Sans Mono", Courier New, monospace;
  white-space: pre;
}

#page {
  width: 960px;
  margin: 0 auto;
  padding: 10px 30px;
  background: url('images/background.png?1358188811') no-repeat top center;
}

header {
  position: relative;
  height: 370px;
  margin-bottom: 20px;
}
header .tagline {
  margin: 0;
  padding: 0;
  text-indent: -9999em;
  overflow: hidden;
}
header .download {
  font-family: "Comfortaa", sans-serif;
  display: block;
  position: absolute;
  left: 550px;
  top: 135px;
  font-size: 20px;
  color: #ff7f2a;
}
header .current-ver {
  font-size: 62px;
}

#site-name {
  display: block;
  position: absolute;
  left: 10px;
  top: 70px;
  width: 460px;
  height: 100px;
  margin: 0;
  padding: 0;
  text-indent: -9999em;
  overflow: hidden;
}

#feature {
  margin-bottom: 20px;
  height: 200px;
}

#content {
  padding: 20px 0;
  margin-bottom: 10px;
}
#content .project-name {
  color: white;
}

.block {
  overflow: hidden;
  *zoom: 1;
}
.block .title {
  font-size: 2.333em;
  text-shadow: rgba(0, 0, 0, 0.7) 0px 0px 5px;
}

footer {
  font-size: 13px;
  padding: 20px 0;
}

#credits {
  display: inline;
  float: left;
}

#copyright {
  display: inline;
  float: right;
}
