@import url(normalize.css);
@import url(http://fonts.googleapis.com/css?family=Comfortaa|Istok+Web|Droid+Sans+Mono);

@import "compass/css3";
@import "compass/utilities/general";
@import "compass/typography/links";
@import "zen";

// Grid layout settings
$zen-column-count: 12;
$zen-gutter-width: 20px;

// Typography settings
$sans-font: 'Istok Web', Helvetica, Arial, FreeSans, sans-serif;
$mono-font: 'Droid Sans Mono', Courier New, monospace;
$heading-font: 'Comfortaa', sans-serif;

// Color settings
$highlight-color: #ff7f2a;

// Mixins

@mixin text-replace {
  margin: 0;
  padding: 0;
  text-indent: -9999em;
  overflow: hidden;
}

// Styling

body {
  font: normal 15px/1.6em $sans-font;
  color: white;
  background-color: black;
}

a {
  @include hover-link;

  color: $highlight-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $highlight-color;
  margin: 0 0 0.8em 0;
  font-weight: normal;
}

p {
  margin: 0 0 1em 0;
}

.code {
  font: 0.9em/1.5em $mono-font;
  white-space: pre;
}

#page {
  @include zen-grid-container;

  width: 960px;
  margin: 0 auto;
  padding: 10px 30px;
  background: image-url('background.png') no-repeat top center;

  &.front > section > section > h1 {
    font-size: 2.333em;
    @include text-shadow(rgba(black, 0.7) 0px 0px 5px);
  }
}

header {
  @include zen-clear(both);
  @include zen-grid-item(12,1);

  position: relative;
  height: 370px;
  margin-bottom: 20px;

  .tagline {
    @include text-replace;
  }

  .download {
    font-family: $heading-font;
    display: block;
    position: absolute;
    left: 550px;
    top: 135px;
    font-size: 20px;
    color: $highlight-color;
  }

  .current-ver {
    font-size: 62px;
  }
}

#site-name {
  display: block;
  position: absolute;
  left: 10px;
  top: 70px;
  width: 460px;
  height: 100px;
  @include text-replace;
}

#feature {
  @include zen-clear(both);
  @include zen-grid-item(12,1);
  @include zen-nested-container;

  margin-bottom: 20px;
  height: 200px; // FIXME: Remove hard-coded height

  & > h1 {
    display: none;
  }
}

#feature-left  { @include zen-grid-item(6,1); }
#feature-right { @include zen-grid-item(6,7); }

#content {
  @include zen-clear(both);
  @include zen-grid-item(12,1);
  @include zen-nested-container;

  padding: 20px 0;
  margin-bottom: 10px;

  & > h1 {
    display: none;
  }

  .project-name {
    color: white;
  }
}

#content-left   { @include zen-grid-item(4,1); }
#content-middle { @include zen-grid-item(4,5); }
#content-right  { @include zen-grid-item(4,9); }

footer {
  @include zen-clear(both);
  @include zen-grid-item(12,1);

  padding: { top: 20px; bottom: 20px; }
}

#credits {
  @include float(left);
}

#copyright {
  @include float(right);
}

.image-anim-container {
  position: relative;

  .image-anim-frame {
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
  }
}
