@import url(http://fonts.googleapis.com/css?family=Comfortaa|Istok+Web|Droid+Sans+Mono);
body {
  font: normal 15px/1.6em "Istok Web", Helvetica, Arial, FreeSans, sans-serif;
  color: white;
  background-color: black;
}

a {
  color: #ff7f2a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comfortaa", sans-serif;
  color: #ff7f2a;
  margin-bottom: 0.8em;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

p {
  margin-bottom: 1em;
}

.code {
  font: 0.9em/1.5em "Droid Sans Mono", Courier New, monospace;
  white-space: pre;
}

#page {
  width: 960px;
  margin: 0 auto;
  padding: 10px 30px;
  background: url("images/background.png") no-repeat top center;
}

#header {
  position: relative;
  height: 370px;
  margin-bottom: 20px;
}
#header .tagline {
  text-indent: -9999em;
}
#header .download {
  font-family: "Comfortaa", sans-serif;
  display: block;
  position: absolute;
  left: 550px;
  top: 135px;
  font-size: 20px;
  color: #ff7f2a;
}
#header .current-ver {
  font-size: 62px;
}

#site-name {
  display: block;
  position: absolute;
  left: 0;
  top: 80px;
  width: 460px;
  height: 100px;
  text-indent: -9999em;
}

#feature {
  margin-bottom: 20px;
  height: 200px;
}
#feature .title {
  font-size: 35px;
}

#content {
  padding: 20px 0;
  margin-bottom: 10px;
}
#content .title {
  font-size: 35px;
}
#content .project-name {
  color: white;
}

#footer {
  font-size: 13px;
  padding: 20px 0;
}

#credits {
  float: left;
  display: block;
}

#copyright {
  float: right;
  display: block;
}
